$pdc_green: #89c53f;
$pdc_green_dark: #6da32c;
$pdc_blue: #105483;

@mixin profile-pic() {
    float: left;
    display: block;
    border-radius: 10px;
}

a {
    color: $pdc_green_dark;
}

.clear {
    clear: both;
}

body.loading {
    background: $pdc_blue url('../images/pdc-logo.png') no-repeat center;
}

.speaker {
    img {
        height: 75px;
        @include profile-pic();
    }
    .name {
        float: left;
        margin: 25px 0 0 19px;
        font-size: 1.25em;
    }
}

.dojo-tag {
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
    background: $pdc_green;
    padding: 0 .3em;
    color: #fff;
    font-size: .8em;
}

.session {
    .room {
        color: #666;
        font-size: .8em;
    }
}

.session-details,
.speaker-details {
    background: #fff;
    line-height: 1.5em;

    .inner {
        padding: 0.9em;
    }

    h4 {
        font-size: .9em;
        color: #777;
    }

    small {
        color: $pdc_blue;
        display: block;
    }

    img {
        width: 15%;
        max-width: 91px;
        @include profile-pic();
    }

    .speaker-info {
        float: left;
        margin-left: .8em;
        width: 80%;
    }

    .sep {
        @include background(linear-gradient($pdc_green, $pdc_green_dark));
        padding: .1em .1em .1em .9em;
        border-top: 1px solid darken($pdc_green_dark, 5%);
        color: #fff;
        font-size: .8em;
    }
}

.speaker-details {

    img {
        width: 20%;
    }

    .speaker-info {
        width: 75%;
    }

}

.html-page {
    padding: 0.4em 1.2em;
    background: #fff;
    color: #333;

    h3 {
        font-size: 1.25em;
        font-weight: bold;
    }

    p {
        margin: 1em 0;
    }

    strong {
        font-weight: bold;
    }

    ul li {
        list-style: disc;
    }

}

.credit-item {
    padding: .5em 0;

    img {
        @include profile-pic();
        width: 20%;
        max-width: 90px;
        margin-right: 5%;;
    }

    .info {
        float: left;
        display: block;
        width: 70%;
    }

}

.tweets {

    img {
        @include profile-pic();
    }

    .tweet {
        margin-left: 5em;
        color: #333;
        font-size: .8em;
    }

    .posted {
        float: right;
        color: $pdc_green_dark;
    }

    h2 {
        font-weight: bold;
        padding-bottom: 3px;
    }

}