.clear {
    clear: both;
}

.speaker {
    img {
        float: left;
        border-radius: 10px;
    }
    .name {
        float: left;
        margin: 25px 0 0 19px;
        font-size: 125%;
    }
}

.session {
    .room {
        color: #666;
        font-size: 80%;
    }
}